@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-wave {
  animation: wave 35s infinite linear;
}

.animate-wave-second {
  animation: wave 25s infinite linear;
}

.animate-wave-third {
  animation: wave 15s infinite linear;
}
